@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Revalia&display=swap');

body{
    font-family: "Open Sans";
    background: #FFDAB8;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #F98D1F;
    border: #FFC43D solid 4px;
    border-radius:12px ;
    box-shadow: 0px 0px 10px 5px rgba(85, 48, 11, 0.493)   ;
    padding: 8px;
    border-collapse: collapse;
    color: white;
    font-weight: 600;
    text-shadow: 2px 2px 2px #452a0fae;
    font-size: 21px;
}
.p-index{
    text-align: center;
    text-transform: uppercase;
}
.app-title{
    background-color: #FFC43D;
    color: white;
    margin: 0;
    text-align: center;
    font-family: "Revalia";
}
.line{
    margin: 6px;
}
.line>div>input{
    margin-top:10px ;
    border: #A16633 solid 2.3px;
    width: 225px;
}
button{
    width: 200px;
    margin: 6px;
    font-size: 20px;
    font-weight: 600;
    font-family: "Open Sans";
    color: white;
    padding: 5px;
    box-shadow:2px 2px 2px rgba(85, 48, 11, 0.493);
    border: solid 2px rgb(189, 189, 189);
}
.school-btn{
    background: #3778FA;
    border-color: #233f76;
}
.school-btn:hover{
    background-color: #3462bd;
}
.personal-btn{
    background-color: #0A10BF;
    border-color:#04075e;
}
.personal-btn:hover{
    background: #05084f;
}
button:hover{
    transition: 100ms;
    cursor: pointer;
}
#professor{
    background-color: #384ee1;
    border-color: rgba(89, 89, 202, 0.628);
}
#professor:hover{
    background-color: rgb(51, 51, 112);
    border-color: rgba(38, 38, 81, 0.628);
}
#aluno{
    background-color: #F56228;
    border-color: #c55123dd;
}
#aluno:hover{
    background-color: #943c1a;
    border-color: #632810dd;
}
.next-prev-container{
    display: flex;
    justify-content: space-between;
    margin-top: 7px ;
}
.next-prev-btn{
    width: 100px;
    background: #3778FA;
    text-shadow: #6a51199d 2px 2px 2px;
    border: none;
}
.next-prev-btn:hover{
    background-color: #183369;
}
.start{
    background-color: rgb(235, 84, 30);
    }
.start:hover{
    background-color: rgb(181, 68, 26);
    }
.input-data{
    height: 27.5555px;
    background-color: #eff1f6;
    margin:8px 0px;
    border-radius: 7px;
    padding: 2.5px 5px;
}
.input-data:focus{
    background-color: #dcdfe6;
    border: 2px solid #161b3f;
    outline: none;
    box-shadow: #32261c6c 0px 0px 4px 2px;
    transition: 50ms;
}
.input-data::placeholder{
    color: black;
}
.data-p{
    background-color: #7c4f28;
    margin: 0;
    padding: 4px;
}
.btn-container{
    margin-top: 10px;
}
/*Interface principal:*/
.container-new{
    display: flex;
    justify-content: center;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    
}
.item{
    background-color: #F98D1F;
    margin: 0 30px;
    height: 240px;
    width: 280px;
    display: flex;
    justify-content: center;
    border: #FFC43D solid 4px;
    border-radius: 15px;
    outline: #7c4f28 solid;
}
.item-description{
    position: absolute;    
    bottom: 0;
    background-color: #A16633;
    color: white;
    padding: 7px;
    border-radius: 15px;
    box-shadow:2px 2px 2px #482e17;
    font-size: 22.6px;
}
.icon-container{
    background: white;
    width: 200px;
    height: fit-content;
    border-radius: 100%;
    text-align: center;
}
.icon{
    width: 145px;
    height: 145px;
    margin: 10px;
    
}
.item:hover{
    background-color: #db7f24;
    cursor: pointer;
    transition: 100ms;
    border-color: #b58c2d;
    outline-color: #604020;
}
.item:hover p{
    background-color:#704317;
}
.item:hover img{
    transform: scale(102%);
}
header{
    display: flex;
    justify-content: right;
    flex-direction: column;

}
.sair-link{
    width: fit-content;
    text-decoration: none;
}
.sair{
    background: #F56228;
    width: 100px;
    border-radius: 15px;
    border: #943c1a solid 2.3px;
    color: white;
    text-shadow: #814a139f 2px 2px 2px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 15px;
}
.sair:hover{
    background: #903c1b;
    transition: 100ms;
}
.icon2{
    width: 90px;
    height: 90px;
    cursor: pointer;
    background: #a2a8b7;
    border-radius: 20%;
    padding: 15px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1000px;
    background: #F56228;
    border-inline: #943d1aa5 solid 2px;
    border-bottom: #943d1aa5 solid 2px;
    border-collapse: collapse;
}
.grid-container>div{
    border-bottom: #943d1aa5 solid 2px;
    border-right: #943d1aa5 solid 2px;
    box-sizing: border-box;
    padding: 7px;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.flex-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    background-color: #F98D1F;
    color: white;
    
    text-shadow: 2px 2px 2px #452a0fae;
}
.flex-container>div{
    border: #943d1aa5 solid 2px;
}
.selected{
    background-color: #F56228;
}
.selected-two{
    background-color: #c25226;

}
.el{
    padding: 10px;

}
.create{
    background: #384ee1;
}
.create:hover{
    cursor: pointer;
    background: #27379ef2;
    transition: 100ms;
}
.enter{
    background: #0bd322;
}
.enter:hover{
    background: #0c911c;
    transition: 100ms;
    cursor: pointer;

}
.grid-container2{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
.h1-school{
    margin:0;
    background-color: #F98D1F;
    border: #943d1aa5 2px solid;
}